/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}

/* ===================
    ALL: Orange Theme
   =================== */

.header-container {
    border-bottom: 20px solid #e44d26;
}

.footer-container,
.main aside {
    border-top: 20px solid #e44d26;
}

.header-container,
.footer-container,
.main aside {
    background: #f16529;
}

.title {
    color: white;
}

/* ==============
    MOBILE: Menu
   ============== */

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav a {
    display: block;
    margin-bottom: 10px;
    padding: 15px 0;

    text-align: center;
    text-decoration: none;
    font-weight: bold;

    color: white;
    background: #e44d26;
}

nav a:hover,
nav a:visited {
    color: white;
}

nav a:hover {
    text-decoration: underline;
}

/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 30px 0;
}

.main article h1 {
    font-size: 2em;
}

.main aside {
    color: white;
    padding: 0px 5% 10px;
}

.footer-container footer {
    color: white;
    padding: 20px 0;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
#game-container {
  position : relative;
  width:100%;
  height:100%;
  background-image : url('images/Jungle_wallpaper_by_dakki000.jpg');
  background-size : 100% 100%; 
}
#toggle-console {
  float:right;
}
#top-panel {
  position : relative;
  display : inline-block;
  margin: auto;
  margin-bottom : 0.5vw;
}
#console {
  position : relative;
  display : inline-block;
  margin: auto;
  margin-bottom : 0.5vw;
}
#command-panel {
  z-index: 1500;
  position : fixed;
  bottom : 2vw;
  left : 2vw;
  padding : 1vw;
  border-radius : 0.5vw;
  background-color : rgba(0,0,0,0.5)
}
.stop-scrolling {
  height: 100%;
  overflow: hidden;
}


#root {
  z-index : 1000;
  position:relative;
  width : 100%;
  height : 100vh;
  display : inline-block;
  border : 0.2vw solid black;
  background-color : rgba(255,255,255,0.8);
}

#exercices {
  float:left;
}
#exercice {
  position : absolute;
  z-index : 40000 !important;
  padding : 1vw;
  top : 0%;
  left : 50%;
  
  text-align: center;
  background-image : url('images/abstraction-112290_640.jpg');
  background-size : 100% 100%;
  border : solid black 0.25vw;
}


button {
  min-width : 3.5vw;
  height : 3.5vw;
  display : inline-block;
  line-height: auto;
  font-size : 1vw !important;
 
}
pre.code{
  background:#F8F8FF;
  border:black dashed 1px;
  padding:6px;
  white-space: pre-line;
  color : blue;
}

.color {
  display : inline-block;
  vertical-align : middle;
  text-align : center;
  line-height : 3vw;
  width : 3vw;
  height : 3vw;
}
#prompt {
  font-size : 1vw;
  width : 99%;
}

.selected-color {
  -webkit-box-shadow:inset 0px 0px 0px 0.2vw #000;
  -moz-box-shadow:inset 0px 0px 0px 0.2vw #000;
  box-shadow:inset 0px 0px 0px 0.2<vw #000;

}

.ui-draggable-helper { 
    z-index: 5000;
}
#items {
  display: inline-flex;
 
}
.item > svg {
  display : inline-block;
  position : relative;
  width : 3vw;
  height : 3vw;
  width : 100%;
}

#root_definition.definition_drop, #solution_definition.definition_drop {
  position : absolute;
  top : 0;left:0;
  width : 100%;
  height: 100%;
}
svg {
  height : 2.5vw;
  width : 6vw;
}
.lambda.priorite.dropped {
  position:relative;
  text-align:center;
   /* this can zoom-in-out */
  min-width  : 6vw;
  min-height : 2vw;
  padding-top: 2.5vw;
  vertical-align: top;
  display: inline-flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-flow: row no-wrap;
}
.lambda.priorite.dropped > svg, .variable.dropped > svg {
  width:100%;
  height : 2vw;
  position : absolute;
  margin-left: auto;
  margin-right: auto;
  top: 0;
  left: 0;
  right: 0;
}

.lambda.dropped {
  position:relative;
  text-align:center;
   /* this can zoom-in-out */
  min-width  : 6vw;
  min-height : 2vw;
  padding-top: 2.5vw;
  vertical-align: top;
  display: inline-flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-flow: row no-wrap;
}
.lambda.dropped > svg {
  width:100%;
  height : 3vw;
  position : absolute;
  margin-left: auto;
  margin-right: auto;
  top: 0;
  left: 0;
  right: 0;
}

.variable.dropped{
  position:relative;
  display: inline-block;
  vertical-align: top;
  text-align:center;
  /* this can zoom-in-out */
  width  : 4vw;
  height : 2vw;
}
.variable.dropped:before {
  content: attr(data-variable);
  position: absolute;
  z-index: 10;  /* to be below the parent element */
}
.lambda.dropped:before {
  content: attr(data-variable);
  position: absolute;
  left : 50%;
  top : 0;
  z-index: 10;  /* to be below the parent element */
}
.lambda.priorite.dropped:before {
  content: none;
}
.definition_drop, .application_drop {
  position : absolute;
  border:black dashed 1px;
  width : 2.5vw;
  height: 2.5vw;
}
.definition_drop {
  bottom : 0;
  left : 0;
}
.application_drop {
  top : 0;
  right : 0;
}
.lambda.dropped > .definition_drop {
  bottom : 2vw;
  left : 0;
}
/* ADD THIS TO CSS */
div#preloaded-images, div.exemple {
   position: absolute;
   overflow: hidden;
   left: -9999px; 
   top: -9999px;
   height: 1px;
   width: 1px;
}



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */

    nav a {
        float: left;
        width: 27%;
        margin: 0 1.7%;
        padding: 25px 2%;
        margin-bottom: 0;
    }

    nav li:first-child a {
        margin-left: 0;
    }

    nav li:last-child a {
        margin-right: 0;
    }

/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    nav ul li {
        display: inline;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }
}

@media only screen and (min-width: 768px) {

/* ====================
    WIDE: CSS3 Effects
   ==================== */

    .header-container,
    .main aside {
        -webkit-box-shadow: 0 5px 10px #aaa;
           -moz-box-shadow: 0 5px 10px #aaa;
                box-shadow: 0 5px 10px #aaa;
    }

/* ============
    WIDE: Menu
   ============ */

    .title {
        float: left;
    }

    nav {
        float: right;
        width: 38%;
    }

/* ============
    WIDE: Main
   ============ */

    .main article {
        float: left;
        width: 57%;
    }

    .main aside {
        float: right;
        width: 28%;
    }
}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

    .wrapper {
        width: 90%; /* 1140px - 10% for margins */
        margin: 0 auto;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
